.container {
    border: thick double #32a1ce; 
    border-radius: 20px;
    width: fit-content;
    margin: 5em auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.styling div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: dashed lightblue;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;


}